
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'notificationTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'{{'notificationTabPan' | translate}}' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Description' | translate}}</label>
                        <textarea id="1" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Description' | translate}}"  [(ngModel)]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Statut notification' | translate}}</label>
                        <p-dropdown [options]="statutNotifications" [(ngModel)]="item.statutNotification" id="2" [disabled]="true" optionLabel="libelle" placeholder="{{'Statut notification' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Notification detail' | translate}}</label>
                        <p-dropdown [options]="notificationDetails" [(ngModel)]="item.notificationDetail" id="3" [disabled]="true" optionLabel="id" placeholder="{{'Notification detail' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



